---
import { Image } from "astro:assets";
const { title, url, description, pubDate, author, image, tags } = Astro.props;

const formattedDate = (() => {
  // pubDate comes in as a string like "2026-01-19"
  const [year, month, day] = pubDate.split("-");
  // Create date properly to avoid timezone issues
  const date = new Date(year, month - 1, day);
  const monthName = date.toLocaleDateString("en-US", { month: "short" });

  return `${year} ${monthName} ${day}`;
})();
---

<article class="mt-4">
  <h3 class="text-base text-base-900 text-balance table w-full">
    <time datetime={pubDate} class="text-base-900/60 table-cell w-26">
      {formattedDate}
    </time>
    <a href={url} class="underline hover:decoration-wavy table-cell">{title}</a>
  </h3>
</article>
