---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogEntries from "@/components/entries/BlogEntry.astro";
import Cta from "@/components/global/Cta.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
// Sort tags by name in alphabetical order, ignoring case sensitivity
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())].sort(
  (a, b) => a.toLowerCase().localeCompare(b.toLowerCase()),
);
// Sort posts by date in descending order (newest first)
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate),
);
---

<BaseLayout
  title="Designer, Coder, Adventure.. er - Joacim Eldre"
  description="Explore the projects, writings, and adventures of Joacim Eldre. A designer, coder, adventurer, and lover of all things yellow."
>
  <section>
    <div class="py-24">
      <h1 class="text-4xl text-balance font-medium font-display text-base-900">
        Hei! I'm Joacim. I design software in healthcare. Once in a while I draw
        icons, logos, and apps for fine people.
      </h1>
      <h2
        class="mt-8 text-3xl text-balance font-medium font-display text-base-900"
      >
        These days I'm
      </h2>
      <ul
        class="list-disc list-inside mt-3 text-base-900 text-balance space-y-2"
      >
        <li>drawing <i>icons</i>.</li>
        <li>listening to <i>Vulfpeck</i>.</li>
        <li>watching <i>A Knight of the Seven Kingdoms</i>.</li>
        <li>playing <i>The Last Guardian</i>.</li>
        <!-- prettier-ignore -->
        <li>designing <i>Bloob</i>, a game about <abbr title="Maybe keys, definitely not dragons.">dungeons & jellies</abbr>.</li>
      </ul>
      <h2
        class="mt-8 text-3xl text-balance font-medium font-display text-base-900"
      >
        Recent posts
      </h2>
      <div class="gap-4">
        {
          sortedPosts
            .slice(0, 5)
            .map((post) => (
              <BlogEntries
                url={"/posts/" + post.slug}
                alt={post.data.title}
                tags={post.data.tags}
                title={post.data.title}
                author={post.data.author}
                image={post.data.image.url}
                description={post.data.description}
                pubDate={post.data.pubDate.toISOString().split("T")[0]}
              />
            ))
        }
      </div>
      <p class="mt-4">
        Or if you're curious, you can find <a
          href="/tags/All"
          class="underline hover:decoration-wavy"
          >all the <span class="line-through" aria-hidden="true">things</span> posts</a
        >.
      </p>
    </div>
  </section>
</BaseLayout>
